<%= render "shared/second-header"%>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <div>
        <%= @list.categories.first&.tag_name %>
      </div>
      <%= @list.content %>
      <%= @list.quantity %>
    
    </h2>
  </div>
</div>
