.header {
  width: 100vw;
  height: 80px;
  background-color: red;
}


.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-6 a{
  text-decoration: none;
color: white;
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783,#e60000) 0 / 200%;
    height: 80px;
    animation: 5s example4 linear infinite;
}
@keyframes example4{
  100% { background-position: 200%; }
}


.user_nav {
  padding: 0 50px 0 0;
  display: flex;

  font-size: 20px;
}


.user_nav a {
  text-decoration: none;
  color: pink;
}

.post {
  margin-left: 10px;
}