.main-contents {
  height: 100vh;
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
}

.container {
  height: 200px;
  width: 600px;
  font-size: 20px;
}

.text {
  height: 20%;
  width: 100%;
  text-align: center;
}

.content {
  height: 80%;
  width: 100%;
  text-align: center;
}

.back-btn {
  text-decoration: none;
  color: black;
}

.btn {
  font-size: 20px;
  height: 30px;
  width: 100px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
}